<div class="soknad_parter">
    <h2>Boforhold</h2>
    <div>
        {{#each boforhold.barn as |barn|~}}
            {{#if barn.medIBehandling}}
                {{#> common/datarow  label="Søknadsbarn"
                                     value=(concat barn.navn "/" (iso_to_date barn.fødselsdato))}}
                {{/common/datarow }}
            {{else}}
                {{#> common/datarow  label="Eget barn i husstanden"
                                     value=(concat barn.navn "/" (iso_to_date barn.fødselsdato))}}
                {{/common/datarow }}
            {{/if}}

            {{#> notat/partials/table list=barn.opplysningerBruktTilBeregning title=""}}
            {{/notat/partials/table }}
            <div class="horizontal-line" style="break-after: avoid-page"></div>
        {{/each}}

    </div>
    <div style="break-before: page">
        <h3>Sivilstand</h3>
        <div>
            {{#> notat/partials/table list=boforhold.sivilstand.opplysningerBruktTilBeregning
                                      title=""}}
            {{/notat/partials/table }}
        </div>
    </div>
    {{#> notat/partials/notat boforhold.notat}}
    {{/notat/partials/notat }}
</div>