<div>
    {{#> common/datarow  label="Begrunnelse (med i vedtaket):" value=medIVedtaket}}
    {{/common/datarow  }}
    {{#> common/datarow  label="Begrunnelse (kun for intern notat):" value=intern}}
    {{/common/datarow  }}
</div>