<div class="soknad_detaljer">
    <div>
        {{#> common/datarow  label="Saksnummer" value=saksnummer}}
        {{/common/datarow  }}
        {{#each roller as |part|~}}
            {{#eq part.rolle "BIDRAGSMOTTAKER"}}
                    {{#> common/datarow  label="Bidragsmottaker" value=(concat part.navn "/" (iso_to_date part.fødselsdato))}}
                    {{/common/datarow  }}
            {{/eq}}
            {{#eq part.rolle "BIDRAGSPLIKTIG"}}
                {{#> common/datarow  label="Bidragspliktig" value=(concat part.navn "/" (iso_to_date part.fødselsdato))}}
                {{/common/datarow  }}
            {{/eq}}
        {{/each}}
        <dl class="datarow">
            <dt>Søknadsbarn</dt>
            <dd style="display: inline-table">
                    {{#filter roller "rolle" "BARN" as |barn|}}
                        <span style="width: 100%; display: block">{{ barn.navn }} / {{ iso_to_date barn.fødselsdato }}</span>
                    {{/filter}}
            </dd>
        </dl>
    </div>
</div>