<div>
    <h2>Vedtak</h2>
    <div>
        {{#> common/datarow  label="Ferdigstilt:" value=ferdigstilt}}
        {{/common/datarow  }}
        {{#> common/datarow  label="Saksbehandler:" value=saksbehandlerNavn}}
        {{/common/datarow  }}
        {{#> common/datarow  label="Dato:" value=(iso_to_nor_datetime (now))}}
        {{/common/datarow  }}
    </div>
    {{#each vedtak as |detaljer|~}}
        {{#> common/datarow  label="Barn i saken:" value=(concat detaljer.navn "/" (iso_to_date detaljer.fødselsdato))}}
        {{/common/datarow  }}
        {{#> notat/partials/tableVedtak list=detaljer.resultat}}
        {{/notat/partials/tableVedtak }}
    {{/each}}
</div>