<div class="virkningstidspunkt">
    <h2>Virkningstidspunkt</h2>
    <div>
        {{#> common/datarow label="Søknadstype" value=(capitalize søknadstype)}}
        {{/common/datarow }}
        {{#> common/datarow  label="Søkt fra" value=(enum_to_readable søktAv)}}
        {{/common/datarow  }}
        {{#> common/datarow  label="Mottatt dato" value=(iso_to_date mottattDato)}}
        {{/common/datarow  }}
        {{#> common/datarow  label="Søkt fra dato" value=(iso_to_date søktFraDato)}}
        {{/common/datarow  }}
        {{#contains_field list "årsak"}}
            {{#> common/datarow  label="Årsak" value=(enum_to_readable årsak)}}
            {{/common/datarow  }}
        {{else}}
            {{#> common/datarow  label="Avslag" value=(enum_to_readable avslag)}}
            {{/common/datarow  }}
        {{/contains_field}}
        {{#> common/datarow  label="Virkningstidspunkt" value=(iso_to_date virkningstidspunkt)}}
        {{/common/datarow  }}
        {{#> notat/partials/notat notat}}
        {{/notat/partials/notat }}
    </div>
</div>