<h3 style="margin-bottom: 10px; margin-top: 10px">{{rolle}}</h3>
<div>
    {{#> notat/partials/inntekt/table list=inntekter.årsinntekter title="Skattepliktig og pensjonsgivende inntekt"
                                      type="ÅRSINNTEKTER"}}
    {{/notat/partials/inntekt/table }}
    {{#eq rolle "Bidragsmottaker"}}
        {{#> notat/partials/inntekt/table list=inntekter.barnetillegg title="Barnetillegg for" subtitle="se vedlegg nr. 2 for barnetillegg fra pensjon" type="BARNETILLEGG"}}
        {{/notat/partials/inntekt/table }}
        {{#> notat/partials/inntekt/table list=inntekter.utvidetBarnetrygd title="Utvidet barnetrygd"
                                          type="INNTEKTER"}}
        {{/notat/partials/inntekt/table }}
        {{#> notat/partials/inntekt/table list=inntekter.småbarnstillegg title="Småbarnstillegg"
                                          type="INNTEKTER"}}
        {{/notat/partials/inntekt/table }}
        {{#> notat/partials/inntekt/table list=inntekter.kontantstøtte title="Kontantstøtte for"
                                          type="BARNETILLEGG"}}
        {{/notat/partials/inntekt/table }}
    {{/eq}}
</div>