<div>
    <h2>Inntekter</h2>
    {{#filter inntekter.inntekterPerRolle "rolle" "BIDRAGSMOTTAKER" as |inntekter|~}}
        {{#> notat/partials/inntekt/inntekt inntekter=inntekter rolle="Bidragsmottaker"}}
        {{/notat/partials/inntekt/inntekt }}
    {{/filter}}
    {{#filter inntekter.inntekterPerRolle "rolle" "BIDRAGSPLIKTIG" as |inntekter|~}}
        {{#> notat/partials/inntekt/inntekt inntekter=inntekter rolle="Bidragspliktig"}}
        {{/notat/partials/inntekt/inntekt }}
    {{/filter}}
    {{#> notat/partials/notat notat}}
    {{/notat/partials/notat }}
</div>