@page {
    size: A4 portrait;
    margin: 1cm 1cm 1cm 0.5cm;
    padding-bottom: 1cm;
    padding-top: 1cm;

    @bottom-center { content: element(footer) }
}

@page:first {
    margin-top: 0;
    @top-left {
        content: element(header);
    }
}
@media print {
    div { break-inside: avoid; }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
    }
}
h2 {
    margin-bottom: 8px;
}
.background_section {
    background-color: #f2f3f5;
    margin: 0.5rem;
    padding: 0.5rem;
}
#footer {
    position: running(footer);
    font-size: 12px;
    margin-top: -25px;
    padding-left: 0.6cm;
}
body {
    background-color: white;
    width: 210mm;
    height: 100%;
    color:black;
}

dt:before {
    content: "";
    display: block;
}
.datarow dt:after {
    content: ":  ";
}
dl {
    margin: 5px 0;
}
dt, dd {
    display: inline;
}

dd {
    margin-inline-start: 0px;
    margin: 0;
    margin-left: 3px;
}
dt {
    font-weight: bold;
    display: inline-block;
}
#header {
    position: relative;
    height: 80px;
}

.title {
    display: inline-block;
    position: absolute;
    top: 1rem;
    left: 0.5cm;
    font-size: 32px;
}
.navlogo {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -30px;
    margin-right: 90px;
    width: 180px;
    height: 180px;
}

* {
    font-family: "Source Sans Pro";
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    font-family: "Source Sans Pro";
}

p {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    font-family: "Source Sans Pro";
}

.container {
    margin: 0cm 0.5cm;
    height: 100%;
}

.flex-inline {
    display: inline-flex;
}
.flex-col {
    flex-direction: column;
}

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.table thead {
    display: table-header-group;
}
.table tr {
    display: table-row;
}
.table thead tr th {
    display: table-cell;
    text-align: left;
    padding: 2px;
}

.table tbody {
    display: table-row-group;
}
.table tbody tr th {
    display: table-cell;
    text-align: left;
    padding: 2px;
    font-weight: bold;
}
.table tbody tr td {
    display: table-cell;
    text-align: left;
    padding: 2px 2px 8px 2px;
}

.table_head_periode {
    width: 150px;
}

.table_head_beskrivelse {
    width: 200px;
}

.table_head_belop {
    width: 20px;
}

.horizontal-line {
    border-top: 1px solid black;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#pagenumber:before {
    content: counter(page);
}
#pagecount:before {
    content: counter(pages)
}
#pageFooter {
    display: table-footer-group;
}

#pageFooter:after {
    counter-increment: page;
    content: counter(page);
}
div.footer {
    display: block; text-align: center;
    position: running(footer);
}

.custom-footer-page-number:after {
    content: counter(page) ' av ' counter(pages);
}