name: Deploy to dev
on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  build-deploy:
    name: "Build and deploy to main"
    permissions:
      contents: "read"
      id-token: "write"
    uses: navikt/bidrag-workflow/.github/workflows/deploy.yaml@main
    secrets: inherit
    with:
      nais_variabler_filnavn: bidrag-dokument-produksjon/dev.yaml
      maven_options: -B -q -fae -Pit
      nais_hovedfil_navn: bidrag-dokument-produksjon/nais.yaml