name: bidrag-pdfgen - Build and deploy dev
on:
  workflow_dispatch:
  push:
    branches:
      - '**'
    paths:
      - '.nais/bidrag-pdfgen/**.yaml'
      - '**/bidrag-pdfgen/**'
      - 'pom.xml'
env:
  IS_FEATURE: ${{ github.ref != 'refs/heads/release' && github.ref != 'refs/heads/main'}}
  IS_DEV: ${{ github.ref == 'refs/heads/main' }}
  NPM_TOKEN: ${{ secrets.READER_TOKEN }}

jobs:

  deploy_feature:
    permissions:
      contents: "read"
      id-token: "write"
    runs-on: ubuntu-latest
    name: Deploy

    steps:
      - uses: actions/checkout@v4
      - uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: bidrag
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          image_suffix: bidrag-pdfgen
          tag: bidrag-pdfgen
          docker_context: ./bidrag-pdfgen
          dockerfile: ./bidrag-pdfgen/DockerfileGotenberg
      - name: Deploy to dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/bidrag-pdfgen/nais.yaml
          VARS: .nais/bidrag-pdfgen/dev.yaml
          IMAGE: ${{ steps.docker-push.outputs.image }}
      - run: echo ${{ steps.docker-push.outputs.image }}
